//-
	ToDo:
	- prep for roots-contentful integration by making this template abstract 


	h4= entry.title
	img(src= asset(entry.featuredImage))
	//-p= post.date
	!= marked(entry.body)



extends ./_layout

block theContent


	// =============== wrapper =============== 
	#wrapper
		// =============== Content holder  ===============
		.content-holder.elem.scale-bg2.transition3
			// .fixed-title
			.fixed-title
				span= entry.clientName

			// =============== Content  ===============
			.content
				// Page title section
				section.parallax-section
					.overlay
						//- asset(entry.backgroundImage)
					.bg(style="background-image:url(#{asset(entry.backgroundImage)})" data-top-bottom="transform: translateY(200px);" data-bottom-top="transform: translateY(-200px);")
					.container
						h2= entry.clientName
						.separator-image
							img(src="../img/separator.png" alt="")
						h3.subtitle= entry.tagLine
					a.custom-scroll-link.sect-scroll(href="#sec1")
						i.fa.fa-angle-double-down
				// Page title section end
				// Content
				.sections-bg
				section#sec1
					.container.column-container
						.row
							// project images
							.col-md-7
								.vertical-gallery.popup-gallery
									- for image in entry.images
										.box-item
											a(href= asset(image))
												img.respimg(src= asset(image))
								

							//- ToDo:
								- figure out how to configure this navigation
								.project-box
									.content-nav
										ul
											li
												a(href="feast.html")
													i.fa.fa-long-arrow-left
											li
												span &#47;
											li
												a(href="juisi.html")
													i.fa.fa-long-arrow-right
										.p-all
											a(href="index.html")
												i.fa.fa-th-large
							//- end ToDo -


							// project images end
							// project  information
							.col-md-5
								.fix-box
									.project-box
										h3 Details
										p= entry.description
										p View site: 
											a(href= entry.cilentUrl target='_blank')= entry.clientUrlLabel
				// Content end
				// Share container
				.share-container.isShare(data-share="['facebook','pinterest','googleplus','twitter','linkedin']")
			// content holder end
		// wrapper end
		.left-decor
		.right-decor













		